@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@700&display=swap');
@import 'normalize.css';

html {
    line-height: 1.15;
    /* 1 */
    -webkit-text-size-adjust: 100%;
    text-size-adjust: 100%;
    /* 2 */
}

/* Sections
     ========================================================================== */

/**
   * Remove the margin in all browsers.
   */

body {
    margin: 0;
}

/**
   * Render the `main` element consistently in IE.
   */

main {
    display: block;
}

/**
   * Correct the font size and margin on `h1` elements within `section` and
   * `article` contexts in Chrome, Firefox, and Safari.
   */

h1 {
    font-size: 2em;
    margin: 0.67em 0;
}

/* Grouping content
     ========================================================================== */

/**
   * 1. Add the correct box sizing in Firefox.
   * 2. Show the overflow in Edge and IE.
   */

hr {
    box-sizing: content-box;
    /* 1 */
    height: 0;
    /* 1 */
    overflow: visible;
    /* 2 */
}

/**
   * 1. Correct the inheritance and scaling of font size in all browsers.
   * 2. Correct the odd `em` font sizing in all browsers.
   */

pre {
    font-family: monospace, monospace;
    /* 1 */
    font-size: 1em;
    /* 2 */
}

/* Text-level semantics
     ========================================================================== */

/**
   * Remove the gray background on active links in IE 10.
   */

a {
    background-color: transparent;
}

/**
   * 1. Remove the bottom border in Chrome 57-
   * 2. Add the correct text decoration in Chrome, Edge, IE, Opera, and Safari.
   */

abbr[title] {
    border-bottom: none;
    /* 1 */
    text-decoration: underline;
    /* 2 */
    text-decoration: underline dotted;
    /* 2 */
}

/**
   * Add the correct font weight in Chrome, Edge, and Safari.
   */

b,
strong {
    font-weight: bolder;
}

/**
   * 1. Correct the inheritance and scaling of font size in all browsers.
   * 2. Correct the odd `em` font sizing in all browsers.
   */

code,
kbd,
samp {
    font-family: monospace, monospace;
    /* 1 */
    font-size: 1em;
    /* 2 */
}

/**
   * Add the correct font size in all browsers.
   */

small {
    font-size: 80%;
}

/**
   * Prevent `sub` and `sup` elements from affecting the line height in
   * all browsers.
   */

sub,
sup {
    font-size: 75%;
    line-height: 0;
    position: relative;
    vertical-align: baseline;
}

sub {
    bottom: -0.25em;
}

sup {
    top: -0.5em;
}

/* Embedded content
     ========================================================================== */

/**
   * Remove the border on images inside links in IE 10.
   */

img {
    border-style: none;
}

/* Forms
     ========================================================================== */

/**
   * 1. Change the font styles in all browsers.
   * 2. Remove the margin in Firefox and Safari.
   */

button,
input,
optgroup,
select,
textarea {
    font-family: inherit;
    /* 1 */
    font-size: 100%;
    /* 1 */
    line-height: 1.15;
    /* 1 */
    margin: 0;
    /* 2 */
}

/**
   * Show the overflow in IE.
   * 1. Show the overflow in Edge.
   */

button,
input {
    /* 1 */
    overflow: visible;
}

/**
   * Remove the inheritance of text transform in Edge, Firefox, and IE.
   * 1. Remove the inheritance of text transform in Firefox.
   */

button,
select {
    /* 1 */
    text-transform: none;
}

/**
   * Correct the inability to style clickable types in iOS and Safari.
   */

button,
[type="button"],
[type="reset"],
[type="submit"] {
    -webkit-appearance: button;
    appearance: button;
}

/**
   * Remove the inner border and padding in Firefox.
   */

button::-moz-focus-inner,
[type="button"]::-moz-focus-inner,
[type="reset"]::-moz-focus-inner,
[type="submit"]::-moz-focus-inner {
    border-style: none;
    padding: 0;
}

/**
   * Restore the focus styles unset by the previous rule.
   */

button:-moz-focusring,
[type="button"]:-moz-focusring,
[type="reset"]:-moz-focusring,
[type="submit"]:-moz-focusring {
    outline: 1px dotted ButtonText;
}

/**
   * Correct the padding in Firefox.
   */

fieldset {
    padding: 0.35em 0.75em 0.625em;
}

/**
   * 1. Correct the text wrapping in Edge and IE.
   * 2. Correct the color inheritance from `fieldset` elements in IE.
   * 3. Remove the padding so developers are not caught out when they zero out
   *    `fieldset` elements in all browsers.
   */

legend {
    box-sizing: border-box;
    /* 1 */
    color: inherit;
    /* 2 */
    display: table;
    /* 1 */
    max-width: 100%;
    /* 1 */
    padding: 0;
    /* 3 */
    white-space: normal;
    /* 1 */
}

/**
   * Add the correct vertical alignment in Chrome, Firefox, and Opera.
   */

progress {
    vertical-align: baseline;
}

/**
   * Remove the default vertical scrollbar in IE 10+.
   */

textarea {
    overflow: auto;
}

/**
   * 1. Add the correct box sizing in IE 10.
   * 2. Remove the padding in IE 10.
   */

[type="checkbox"],
[type="radio"] {
    box-sizing: border-box;
    /* 1 */
    padding: 0;
    /* 2 */
}

/**
   * Correct the cursor style of increment and decrement buttons in Chrome.
   */

[type="number"]::-webkit-inner-spin-button,
[type="number"]::-webkit-outer-spin-button {
    height: auto;
}

/**
   * 1. Correct the odd appearance in Chrome and Safari.
   * 2. Correct the outline style in Safari.
   */

[type="search"] {
    -webkit-appearance: textfield;
    appearance: textfield;
    /* 1 */
    outline-offset: -2px;
    /* 2 */
}

/**
   * Remove the inner padding in Chrome and Safari on macOS.
   */

[type="search"]::-webkit-search-decoration {
    -webkit-appearance: none;
}

/**
   * 1. Correct the inability to style clickable types in iOS and Safari.
   * 2. Change font properties to `inherit` in Safari.
   */

::-webkit-file-upload-button {
    -webkit-appearance: button;
    /* 1 */
    font: inherit;
    /* 2 */
}

/* Interactive
     ========================================================================== */

/*
   * Add the correct display in Edge, IE 10+, and Firefox.
   */

details {
    display: block;
}

/*
   * Add the correct display in all browsers.
   */

summary {
    display: list-item;
}

/* Misc
     ========================================================================== */

/**
   * Add the correct display in IE 10+.
   */

template {
    display: none;
}

/**
   * Add the correct display in IE 10.
   */

[hidden] {
    display: none;
}

:root {
    --blue: hsl(237, 63%, 64%);
    --violet: hsl(236, 72%, 79%);
    --very-light-grayish-blue: hsl(240, 78%, 98%);
    --light-grayish-blue: hsl(234, 14%, 74%);
    --grayish-blue: hsl(233, 13%, 49%);
    --dark-grayish-blue: hsl(232, 13%, 33%);
    --white: hsl(0, 0%, 100%);
}

*,
*::before,
*::after {
    box-sizing: border-box;
}

body {
    font-family: 'Montserrat', sans-serif;
    font-size: 1rem;
    background: url(images/bg-top.svg), url(images/bg-bottom.svg);
    background-repeat: no-repeat;
    background-position: top -37px right -195px, bottom left;
    background-color: var(--very-light-grayish-blue);
    min-height: 100vh;
}

h1,
h2,
h3 {
    margin-top: 0;
}

h1 {
    color: var(--grayish-blue);
    margin-bottom: 2.625rem;
}

h2 {
    font-size: 1.125rem;
    color: var(--grayish-blue);
    margin-bottom: 1.25rem;
}

.pricing {
    display: inline-flex;
    align-items: center;
    margin-bottom: 5.5rem;
}

.container {
    max-width: 1200px;
    margin-left: auto;
    margin-right: auto;
    padding: 4rem 1.5rem;
}

.card-group {
    max-width: 327px;
    margin-left: auto;
    margin-right: auto;
}

.card {
    margin: 0 0 1.5rem;
    padding: 2.25rem 1.875rem 1.875rem;
    background-color: var(--white);
    border-radius: 0.75rem;
    box-shadow: 0 1.5rem 1.5rem 0.5rem hsl(237 63% 64% / 0.1);
}

.card-price {
    font-size: 4.5rem;
    display: inline-flex;
    align-items: center;
    color: var(--dark-grayish-blue);
    margin-bottom: 1.625rem;
    letter-spacing: -0.03em;
}

.card-price small {
    font-size: 55%;
    margin-right: 0.625rem;
}

.card-list {
    list-style: none;
    margin: 0 0 2rem;
    padding: 0;
    color: var(--grayish-blue);
}

.card-list li {
    font-size: 0.9375rem;
    line-height: 1.3;
    border-top: 1px solid hsl(234, 14%, 88%);
    padding: 1rem 0;
}

.card-list li:last-child {
    border-bottom: 1px solid hsl(234, 14%, 88%);
}

.card-primary .card-list li {
    border-top-color: hsl(234 14% 88% / 0.3);
}

.card-primary .card-list li:last-child {
    border-bottom-color: hsl(234 14% 88% / 0.3);
}

.card-primary {
    color: var(--white);
    background: linear-gradient(150deg, var(--violet), var(--blue));
}

.card-primary .card-title,
.card-primary .card-price,
.card-primary .card-list {
    color: white;
}

.btn {
    font-size: 0.8125rem;
    display: block;
    text-align: center;
    text-decoration: none;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    user-select: none;
    color: var(--very-light-grayish-blue);
    background: linear-gradient(to right, var(--violet), var(--blue));
    border: 1px solid transparent;
    padding: 0.875rem 1rem;
    border-radius: 0.375rem;
    text-transform: uppercase;
    letter-spacing: 0.1em;
}

.btn:hover,
.btn:focus {
    color: var(--blue);
    background: transparent;
    border-color: var(--blue);
}

.card-primary .btn {
    color: var(--blue);
    background: var(--white);
}

.card-primary .btn:hover,
.card-primary .btn:focus {
    color: var(--white);
    background: transparent;
    border-color: var(--white);
}

.switch {
    position: relative;
    display: inline-block;
    width: 56px;
    height: 32px;
    margin-left: 1.5rem;
    margin-right: 1.5rem;
}

.switch input {
    opacity: 0;
    width: 0;
    height: 0;
}

.slider {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    cursor: pointer;
    border-radius: 32px;
    background: linear-gradient(to bottom right, var(--violet), var(--blue));
    transition: transform 0.4s, opacity 0.15s;
}

.slider::before {
    content: "";
    position: absolute;
    height: 24px;
    width: 24px;
    left: 5px;
    bottom: 4px;
    border-radius: 50%;
    background-color: white;
    transition: transform 0.4s;
}

.switch:hover .slider,
.switch input:focus+.slider {
    opacity: 0.5;
}

.switch input:checked+.slider::before {
    transform: translate3d(21px, 0, 0);
}

.label {
    font-size: 0.9375rem;
    color: var(--light-grayish-blue);
    cursor: pointer;
}

.text-center {
    text-align: center;
}

/* Footer */
.attribution {
    font-size: 11px;
    text-align: center;
    color: black;
}

.attribution a {
    color: hsl(228, 45%, 44%);
}

@media (min-width: 1100px) {
    .container {
        padding: 4.5rem 1.5rem 6.5rem;
    }

    .card-group {
        display: flex;
        justify-content: center;
        max-width: 1050px;
    }

    .card {
        flex: 1 0 350px;
        max-width: 350px;
    }

    .card:first-child {
        border-top-right-radius: 0;
        border-bottom-right-radius: 0;
    }

    .card:last-child {
        border-top-left-radius: 0;
        border-bottom-left-radius: 0;
    }

    .card-primary {
        margin-top: -1.5rem;
        margin-bottom: 0;
        display: flex;
        align-items: center;
        flex-direction: column;
        justify-content: center;
    }

    .card-primary .card-title {
        margin-bottom: 1.5rem;
    }

    .card-list {
        width: 100%;
    }

    .btn {
        width: 100%;
    }
}
